body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation,
.shop-navigation,
.product-list,
.order-list,
.figures-list,
.partners-list,
.footer-socisl-list,
.filter-group,
.sorting-criteria,
.sorting-order,
.catalog-list,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.shop-navigation a,
.pagination-list a,
.footer-socisl-list a,
.product-item a,
.adress a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shop-navigation a:active {
  color: #a6a6a6;
}

.container {
  width: 1160px;
  padding: 0 20;
  margin: 0 auto;

}

.product-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tagline {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 35px;
}

.development-order,
.accuracy {
  font-weight: 700;
  text-transform: uppercase;
}

.principles {
  margin-bottom: 40px;
}

.development-order {
  margin-bottom: 23px;
}

.percent {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  text-transform: uppercase;
}

.map h4,
.legend,
.to-sort,
.product-container h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.adress p {
  color: #666666;
  line-height: 18px;
}

.friends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.main-catalog h1 {
  font-size: 55px;
  line-height: 55px;
}

.sorting-criteria-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-container p {
  line-height: 18px;
  color: #666666;
}

.pagination-item {
  line-height: 18px;
  text-transform: uppercase;
}
.site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 156px;
}
.site-navigation li {
  display: inline;
  margin-left: 43px;
  }

.main-navigation {
  
  display: flex;
  margin-bottom: -9px;
  
}

.main-header {
  background-color: #eeeeee;
}

.main-header-logo {
  
  margin-top: 50px;
}

.shop-navigation {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 283px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  
  border-bottom: 3px solid #eeeeee;
}

.product-item {
  margin-top: 86px;
  margin-left: 0px;
  width: 280px;
}

.product-item:nth-child(2) {
  margin-left: 121px;
}

.product-item:nth-child(3) {
  margin-left: 119px;
}

.product-item img {
  margin-bottom: -7px;
}

.product-item p {
  margin-bottom: 32px;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide_1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide_2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide_3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: blue;
}

.button.link {
  width: 160px;
  padding: 17px 0;
  margin-bottom: 75px;
  color: #ffffff;
}

.button.link:nth-child(2) {
  background-color: #00ca74;
}

.button.link:nth-child(3) {
  background-color: #efc84a;
}

.about-us {
  display: flex;
  border-bottom: 3px solid #eeeeee;
}

.features {
  width: 680px;
  margin-top: 28px;
  margin-left: 140px;
}

.order-list {
  margin: 0;
  padding: 0;
  margin-left: 36px;
}

.order-list li {
  margin-bottom: 24px;
}

.figures-about-us {
  margin-left: 120px;
}

.figures-about-us img {
  padding-top: 41px;
  margin-bottom: 31px;

}

.accuracy {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 50px;
}

.figures-list {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background-color: green;
  margin-bottom: 10px;
  
}

.figures-list p {
  margin: 0;
}

.figure-item {
  display: inline-block;
  width: 32%;
  text-align: top;
}

.map {
  position: relative;
  text-align: center;
  position: relative;
}

.map .container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 2;
}

.adress {
  
  top: 40px;
  left: 140px;
  width: 320px;
  
  background-color: #ffffff;
}

.adress h4 {
  padding-top: 50px;
  padding-left: 50px;
}

.adress p {
  padding-left: 50px;
}

.adress a {
  margin-left: 50px;
  margin-bottom: 50px;
  width: 220px;
  color: #ffffff;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}