body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation,
.shop-navigation,
.product-list,
.order-list,
.figures-list,
.partners-list,
.footer-social-list,
.filter-group,
.sorting-criteria,
.sorting-order,
.catalog-list,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.shop-navigation a,
.pagination-list a,
.footer-socisl-list a,
.product-item a,
.adress a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shop-navigation a:active {
  color: #a6a6a6;
}

.container {
  width: 1160px;
  padding: 0 20;
  margin: 0 auto;

}

.product-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tagline {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 35px;
}

.development-order,
.accuracy {
  font-weight: 700;
  text-transform: uppercase;
}

.principles {
  margin-bottom: 40px;
  width: 660px;
}

.development-order {
  margin-bottom: 23px;
}

.percent {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  text-transform: uppercase;
}

sup {
  display: inline-block ;
    top: -0.3em;
    font-size: 31px;
    line-height: 1;
  }

.map h4,
.legend,
.to-sort,
.product-container h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.adress p {
  color: #666666;
  line-height: 18px;
}

.friends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: -6px;
}

.main-catalog h1 {
  font-size: 55px;
  line-height: 55px;
}

.sorting-criteria-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-container p {
  line-height: 18px;
  color: #666666;
}

.pagination-item {
  line-height: 18px;
  text-transform: uppercase;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 159px;
}
.site-navigation li {
  
  margin-left: 43px;
  }

.shop-navigation {
  display: flex;
  max-width: 170px;
}

.main-navigation {
  display: flex;
  margin-bottom: -9px;
}

.main-header {
  background-color: #eeeeee;
}

.main-header-logo {
  
  margin-top: 50px;
}

.shop-navigation {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 233px;
}

.shop-navigation .shop-link {
  position: relative;
  padding-left: 60px;
}

.shop-link::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4px;
  left: 22px;
  background-image: url("../img/cart_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  
  border-bottom: 3px solid #eeeeee;
}

.product-item {
  margin-top: 86px;
  margin-left: 0px;
  width: 301px;
}

.product-item:nth-child(2) {
  margin-left: 121px;
}

.product-item:nth-child(3) {
  margin-left: 119px;
}

.product-item img {
  margin-bottom: -7px;
}

.product-item p {
  margin-bottom: 32px;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide_1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide_2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide_3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 22px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 42px;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.button.link {
  width: 160px;
  padding: 17px 0;
  margin-bottom: 75px;
  color: #ffffff;
}


.about-us {
  display: flex;
  border-bottom: 3px solid #eeeeee;
}

.features {
  margin-top: 28px;
  margin-bottom: 52px;
}

.partners {
  margin-bottom: 117px;
}
.order-list {
  margin: 0;
  padding: 0;
}

.order-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px;
}

.order-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left:2px;
  width: 35px;
  height: 15px;
  background-image: url("../img/red_line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.figures-about-us {
  margin-left: 120px;
}

.figures-about-us img {
  padding-top: 41px;
  margin-bottom: 31px;

}

.accuracy {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 50px;
}

.figures-list {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  
}

.figures-list p {
  margin: 0;
}

.figure-list span {
  margin-bottom: 10px;
}

.figure-item {
  display: inline-block;
  width: 32%;
  text-align: top;
}

.map {
  position: relative;
  text-align: center;
  position: relative;
}

.map::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 200px;
  top: 90px;
  left: 56%;
  
  background-image: url("../img/map_marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map .container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 2;
}

.adress {
  
  top: 40px;
  left: 140px;
  width: 320px;
  
  background-color: #ffffff;
}

.adress h4 {
  padding-top: 50px;
  padding-left: 50px;
}

.adress p {
  padding-left: 50px;
}

.adress a {
  margin-left: 50px;
  margin-bottom: 50px;
  width: 220px;
  color: #ffffff;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  border-bottom: 3px solid #eeeeee;
}

.main-footer .container {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 144px;
  width: 260px;
  padding: 0;
  margin: 0;
}


.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1; 
}

.footer-social-item:hover,
.footer-social-item:focus {
    background-color: #e74246;
}
 
.footer-social-item:active {
  background-color: #e74246;
}

.footer-social-item:active path {
  fill: #e37376;
}

.discount {
  margin-left: 167px;
  margin-top: 28px;
}

.catalog-title {
  padding: 0;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 107px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  width: 260px;
  min-height: 2000px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.catalog-list-container {
    margin-left: 20px;
}

.catalog {
  width: 780px;
  min-height: 2000px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -19px;
  padding: 0;
}

.catalog-item img {
  vertical-align: top;
}

.catalog-item {
  width: 360px;
  min-height: 616px;
  margin-bottom: 35px;
  margin-left: 19px;
  margin-right: 19px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    min-height: 50px;
    margin-bottom: 60px;
}

.pagination-list li {
    display: inline;
}

.sorting-criteria,
.sorting-order {
  padding: 0;
  margin: 0;
}

.sorting-criteria li,
.sorting-order li {
  display: inline;
}

.sorting-container {
  display: flex;
  width: 760px;
  margin: 0;
  padding: 0;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
  top: 100px;
  left: 50%;
  width: 960px;
  
  transform: translateX(-50%);
}

.modal-close {
  position: absolute;
  top: 60px;
  right: 60px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: -17px;
  margin-top: 70px;
  margin-left: 100px;
  font-size: 45px;
  line-height: 45px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 100px;
}

.modal-description {
    width: 360px;
    margin-bottom: 34px;
}

.letter-text {
    width: 100%;
    margin-bottom: 47px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 360px;
  padding: 15px 15px;
  font: inherit;
  outline: none;
  border: 3px solid #d7dcde;
}

.login-form textarea {
  width: 760px;
  box-sizing: border-box;
  border: 3px solid #d7dcde;
  padding: 15px 15px;
  min-height: 120px;
  outline: none;
}

.login-form input:focus,
.login-form textarea:focus {
  border-color: #000000;
}

.login-form input:hover,
.login-form textarea:hover {
  border-color: #b4b9bb;
}

.login-form input:invalid,
.login-form textarea:invalid {
  border-color: #e74246;
}

.login-form label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.product-container {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  background-color: grey;
}

.catalog-item {
  position: relative;
}

.catalog-item:hover .product-container {
  opacity: 1;

}